* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaebf7;
    font-family: 'Rubik', sans-serif;
}

.heading-text {
    font-size: 2.5rem;
    font-weight: 700;
}

.small-text {
    font-size: 13px;
    font-weight: normal;
}

p {
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: gray;
}

/* Navbar */
nav {
    height: 65px;
    box-shadow: 0 2px 4px #0000000c;
}

.nav-link,
.nav:visited {
    color: #555768 !important;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.nav-link:hover,
.nav-link:active {
    color: blue !important;
    border-bottom: 2px solid #2b2d42;
    cursor: pointer;
}

.dark-nav{
    background: white ;
    transition: 0.5s;
    box-shadow: 0 2px 4px #0000000c;
}

/* Hero */
.hero-section{
    width: 100%;
    height: 100vh;
}

.hero-section h1 {
    font-size: 2.9rem;
    letter-spacing: 0.4px;
    line-height: 1.3;
    font-weight: 700;
}

.hero-section p {
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
}

.registration-form{
    width: 440px;
    height: 340px;
}

.custom-form {
    border-radius: 25px;
    height: 46px;
    padding-left: 20px;
}

/* Why Section */
#why {
    background-color: #d6d8ee;
}

/* Customization section */
#customization_process {
    position: relative;
    background-image: url('images/server2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#products{
    position: relative;
    background-image: url('images/server2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d6d8ee;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(195, 195, 245, 0.8);
}
.customization_process .container {
    position: relative;
    z-index: 1;
    padding: 50px 0px 20px 0px;
}

#products .heading-text {
    position: relative;
    z-index: 2; 
}
#products .container {
    position: relative;
    z-index: 1;
    padding: 50px 0px 20px 0px;
}

#customization_process .heading-text {
    position: relative;
    z-index: 2; 
}

/* Plan Section */
#plan h6 {
    line-height: 2.9rem;
}

#plan .premium{
    line-height: 1.7rem;
}

/* Support Section */
#contact-us {
    background-color: #d6d8ee;
}

.contact-form {
    background-color: #f7f9fb;
    border: none;
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    margin-bottom: 1.2rem;
    outline: none;
}

.send-btn {
    width: fit-content;
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Footer */
#footer p {
    color: white;
}
 



